@page "/"
@using BlazorCycleOfLifeApp.Components.Demos

@inject LifeCycleService LifeCycleService
@inject StateService StateService
<h1>Blazor LifeCycle demo</h1>

<SplitView>
    <LeftContent>
        <div class="demo-view">
            <DemoList OnChangeDemo="@ShowDemo"/>
            <div class="demo-container">
                <h3>@ActiveDemo</h3>
                <div class="demo-components">
                @switch (ActiveDemo)
                {
                    case nameof(CycleButton):
                        <CycleButton OnClick="@HandleCount">
                            Press me
                        </CycleButton>
                        break;
                    case nameof(NoRenderEventButton):
                        <NoRenderEventButton OnClick="@HandleCount">
                            Press me
                        </NoRenderEventButton>
                        break;
@*                    case nameof(EventCallbackButton):
                        <EventCallbackButton/>
                        break;*@
                    case nameof(CounterStateViaService):
                        <CycleButton OnClick="@HandleClickViaService">
                            Count via state service
                        </CycleButton>
                        <CounterStateViaService />
                        break;
                    case nameof(CounterViaObjectParameter):
                        <CycleButton OnClick="@HandleClickViaModel">
                            Count via model
                        </CycleButton>
                        <CounterViaObjectParameter Counter="@CounterModel" />
                        break;
                    case nameof(CounterRoundToFive):
                        <CycleButton OnClick="@HandleCount">
                            Count round to five
                        </CycleButton>
                        <CounterRoundToFive Count="@Count"/>
                        break;
                }
                </div>
            </div>
            <div class="counter-result">
                The count: @Count
            </div>
        </div>
    </LeftContent>
    <RightContent>
        <LifeCycleView/>
    </RightContent>
</SplitView>

@code
{
    private string ActiveDemo { get; set; }

    protected override void OnInitialized()
    {
        
    }

    private int Count { get; set; }
    private CounterModel CounterModel { get; set; } = new();

    private void HandleCount()
    {
        StateHasChanged();
        Count++;
        StateHasChanged();
    }
    
    private void HandleClickViaModel()
    {
        CounterModel.Count++;
        StateHasChanged();
    }
    
    private void HandleClickViaService()
    {
        StateService.SharedCounter++;
    }

    private void ShowDemo(string type)
    {
        LifeCycleService.Clear();
        ActiveDemo = type;
        StateHasChanged();
    }

}
