@page "/"
@using BlazorCycleOfLifeApp.Components.Demos

@inject LifeCycleService LifeCycleService
<h1>Blazor Cycle of Life</h1>

<SplitView>
    <LeftContent>
        <div class="demo-view">
            <DemoList ShowDemo="@ShowDemo"/>
            <div class="demo-container">
                <h2>@ActiveDemo</h2>
                @switch (ActiveDemo)
                {
                    case nameof(CycleButton):
                        <CycleButton @ref="@CurrentRef" OnClick="@HandleCount">
                            Press me
                        </CycleButton>
                        break;
                    case nameof(EventCallbackButton):
                        <EventCallbackButton @ref="@CurrentRef"/>
                        break;
                }
            </div>
            <div class="counter-result">
                Counter: @Count
            </div>
        </div>
    </LeftContent>
    <RightContent>
        <LifeCycleView View="@CurrentRef?.LifeCycleHistory"/>
    </RightContent>
</SplitView>

@code
{
    private BaseCycleComponent CurrentRef { get; set; }
    private string ActiveDemo { get; set; }

    protected override void OnInitialized()
    {
        
    }

    private int Count { get; set; }

    private void HandleCount()
    {
        Count++;
    }

    private void ShowDemo(string type)
    {
        ActiveDemo = type;
    }
}
